<article class="product">
  <header>
    <%= link_to product do %>
      <%= image_tag product.image.thumb, alt: product.name %>
      <h4><%= product.name %></h4>
    <% end %>
  </header>
  <p class="description">
    <%= product.description %>
  </p>
  <footer class="actions">
    <%= button_to add_item_cart_path(product_id: product.id), class: 'btn btn-primary' , method: :post do %>
      <%= fa_icon "shopping-cart", text: 'Add' %>
    <% end %>
    <%= link_to product, class: 'btn btn-default pull-right' do %>
      Details &raquo;
    <% end %>
  </footer>
  <% if product.quantity == 0 %>
      <div class="sold-out">Sold out!</div>
  <% end %>
  <aside class="price">
     <% if active_sale? %>
      <strike><%= humanized_money_with_symbol product.price %></strike>
      <span class="text-danger"> <%= humanized_money_with_symbol (product.price * current_sale[0].percent_off / 100)%></span>
    <% else %>
      <%= humanized_money_with_symbol product.price %>
    <% end %>
  </aside>

</article>
