<tr>
  <td>
    <%= image_tag line_item.product.image.tiny %>
  </td>
  <td>
    <h4><%= line_item.product.name %></h4>
    <br>
  </td>
  <td>
  <aside class="price">

 <%# Price formatting if sale exists, needs to be DRY'd up %>
  <% if active_sale? %>
    <strike><%= humanized_money_with_symbol line_item.product.price %></strike>
    <span class="text-danger"> <%= humanized_money_with_symbol (line_item.product.price - (line_item.product.price * current_sale[0].percent_off / 100))%></span>
  <% else %>
   <%= humanized_money_with_symbol line_item.product.price %>
  <% end %>
 <%# -------------------------------------------------------%>

  </aside>

  </td>
  <td>
    <%= line_item.quantity %>
  </td>
  <td>

  <%# Price formatting if sale exists, needs to be DRY'd up %>
  <% if active_sale? %>
    <strike><%= humanized_money_with_symbol line_item.product.price  * line_item.quantity%></strike>
    <span class="text-danger"> <%= humanized_money_with_symbol (line_item.product.price - (line_item.product.price * current_sale[0].percent_off / 100))%></span>
  <% else %>
    <%= humanized_money_with_symbol line_item.product.price  * line_item.quantity %>
  <% end %>
  <%# -------------------------------------------------------%>

    </td>
</tr>
